.quoteBtn {
  button {
    background-color: #1e6fff;
    border-radius: 2rem;
    font-size: 1rem;
    width: unset;
    margin-right: 4rem;
    padding: 0.5rem 2rem;
    font-family: 'Roboto';
    color: #ffffff;
    svg {
        font-size: 2rem !important;
    }
  }
}
