.approve {
  button {
    background-color: #1e6fff;
    border-radius: 40px;
    width: 200px;
  }
}
.negotiation {
  button {
    width: 200px;
    border-radius: 50px;
    padding: 1rem;
    color: #2359B0;
    background-color: #FFFFFF;
    font-family: 'Montserrat';
    border: 1px solid #DDE9FC;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
}
.fields {
  > div {
    width: 7.3rem;
    display: flex;
  }
  input {
    height: 1.3rem;
    color: #235AB0;

  }
  fieldset {
    border: 1px solid #66a3ff;
    border-radius: 40px;
    box-shadow: 0px 0px 4px 0px #0047FF inset;

  }
}