.Content {
  width: 100%;
  min-height: calc(52rem);
  background-size: cover;
  background-position: center;
  border-radius: 30px;

  background-image: url(/src/assets/images/backgroundimg.png);
}

.mainContent {
  padding: 1rem;
  position: relative;
}

@media (max-width: 768px) {
  .Content {
    padding: 0.5rem;
    min-height: 100%;
  }
  .mainContent {
    padding: 0.5rem;
  }
}
