.Content {
  min-height: 62rem;
  background-size: cover;
  background-position: center;
  border-radius: 40px;
  background-image: url(/src/assets/images/backgroundimg.png);
}
/* .rootLayout {
  padding: 20px;
} */
.mainContent {
  padding: 1rem;
}

