.order-file-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(236, 243, 255, 1);
  border-radius: 25rem;
  height: 3rem;
}

.order-file-header_seleceted {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(236, 243, 255, 1);
  border-radius: 25rem;
  height: 3rem;
  border: 0.97px solid #66a3ff;
}

.order-file-details {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}


@media screen and (max-width: 768px) {
  .order-file-header {
    padding: 0 0.5rem;
    height: 2rem;
  }
  .order-file-header_seleceted {
    padding: 0.5rem;
    height: 2rem;
  }
  .order-file-details {
    margin-bottom: 1.5rem;
  }
}