.summary-container {
  margin-top: 1.5rem;
  padding-top: 1rem;
  margin-bottom: 0.75rem;  
}

.summary-item {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  border-bottom: 0.97px solid #66A3FF;

}

.summary-label {
  color: #4b5563;
}

.summary-value {
  color: #3b82f6;
  font-weight: 500;
}

.summary-total {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 0.75rem;
  border-top: 1px solid #bfdbfe;
  padding: 0 1rem;
}
