.table-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.2rem;
  font-weight: 400; 
  color: #336DFF;
  text-align: left;
}

.table-header-item {
  padding: 2rem 1rem;
  border-right: 0.97px solid #66A3FF;
}

.table-header-item:last-child {
  border-right: none;
}
