.button-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  transition:
    background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button-icon:hover {
  background-color: #f0f0f0;
  border-color: #cccccc; 
  transform: scale(1.2); 
}

.button-icon--small {
  width: 24px;
  height: 24px;
}

.button-icon--medium {
  width: 5rem;
  height: 5rem;
}

.button-icon--large {
  width: 60px;
  height: 60px;
}
