.mainCardContent {
  background: white;
  min-height: 38rem;
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 0px;
}
.headerCard {
  border-radius: 40px 40px 0px 0px;
  position: relative;
  overflow: hidden;
  .tabrow {
    margin: unset;
    transform: unset;
    li span p {
      transform: unset;
      font-size: 20px;
    }
    li.selected {
      background: white;
    }
    li {
      color: #0066ff;
    }
    .idx p {
      width: 2.6rem;
      color: white;
      height: 2.5rem;
      background: #0066ff;
      border-radius: 50px;
      margin-right: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.cardLayout {
  .btn {
    display: flex;
    justify-content: space-between;
    > div {
      background-color: white;
      width: 77%;
      height: 3rem;
      border-bottom-right-radius: 2rem;
      display: flex;
      justify-content: end;
      &::after {
        content: '';
        position: absolute;
        margin-right: -4.9rem;
        background-color: transparent;
        width: 5.25rem;
        height: 2.5rem;
        rotate: 180deg;
        border-bottom-right-radius: 8.25rem;
        box-shadow: 0.813rem 0.4rem 0 0 #fff;
      }
    }
    .proc {
      padding: 8px;
      button {
        background-color: #1e6fff;
        border-radius: 40px;
        width: 274px;
      }
    }
  }
}
