.mainCardContent {
  background: white;
  min-height: 25rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 40px 40px;

  @media (max-width: 767px) {
    padding: 1rem;
  }
}
.headerCard {
  border-radius: 40px 40px 0px 0px;
  position: relative;
  overflow: hidden;
  .tabrow {
    margin: unset;
    transform: unset;
    li span p {
      transform: unset;
      font-size: 20px;
    }
    li.selected {
      background: white;
    }
    li {
      color: #0066ff;
    }
    .idx p {
      width: 2.6rem;
      color: white;
      height: 2.5rem;
      background: #0066ff;
      border-radius: 50px;
      margin-right: 1.8rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.cardLayout {
  margin-top: 4rem;
  padding-bottom: 2rem;
  }




