.tabrow {
  text-align: center;
  list-style: none;
  padding: 0;
  line-height: 35px;
  height: 50px;
  font-size: 12px;
  position: relative;
  display: flex;
  transform: skew(40deg);
  border-top-right-radius: 30px;
}

.tabrow li {
  background: #ffffff;
  color: black;
  width: -webkit-fill-available;
  background: linear-gradient(top, #ececec 50%, #d1d1d1 100%);
  display: inline-block;
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 0 -5px;
  padding: 8px 30px;
  font-size: 16px;
  cursor: pointer;
}

.tabrow li.selected {
  background: none;
  border-top-color: #fff;
  color: #ffffff;
}

.tabrow li:before,
.tabrow li:after {
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: '';
}

/* .tabrow li:before {
  left: -7px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ffffff;
}

.tabrow li:after {
  right: -7px;
  border-top-left-radius: 6px;
  border-width: 1px 0px 0px 1px;
  box-shadow: -2px 0px 0 #ececec;
}

.tabrow li.selected:before {
  box-shadow: 2px 0px 0 #fff;
} */

.tabrow li.selected:last-of-type::after {
  right: 10px;
  border-top-right-radius: 6px;
  border-width: 1px 1px 0px 0px;
  box-shadow: 2px 0px 0 #ffffff;
}

.tabrow li:first-child::before {
  display: none;
}
.tabrow li:last-child::after {
  display: none;
}
.tabrow li:first-child {
  border-top-left-radius: 24px;
}
.tabrow li span p {
  margin: unset;
  transform: skew(-40deg);
}

.tabContent {
  display: flex;
  justify-content: space-evenly;
}
