/* /Dropdown.css */

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

.dropdown-header:focus {
  outline: none;
}

.dropdown-header-title {
  color: #759bff;
  margin-right:.6rem;
} 

.dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4rem;
  width: 100%;
  max-height: 10rem;
  overflow-y: auto;
  border: 1px solid #66A3FF;
  box-shadow: 0px 4px 4px 0px #BECDFF;
  background-color: white;
  border-radius: 2rem;
}

.dropdown-item {
  width: 100%;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #759bff;
  display: flex;
  align-items: center;
  
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item.selected {
  background-color: #e6f7ff;
}

